<form class="form" [formGroup]="searchForm">
  <label class="label">
    Имя
    <input
      id="firstName"
      name="firstName"
      formControlName="firstName"
      class="input input--border-bottom"
      type="text"
      placeholder="Введите имя"
    >
  </label>
  <label class="label">
    Фамилия
    <input
      id="lastName"
      name="lastName"
      formControlName="lastName"
      class="input input--border-bottom"
      type="text"
      placeholder="Введите фамилию"
    >
  </label>
  <label class="label">
    Навыки
    <input
      id="stack"
      name="stack"
      formControlName="stack"
      class="input input--border-bottom"
      type="text"
      placeholder="Введите навыки"
    >
  </label>
</form>
