:host {
  display: grid;
  align-items: center;
  padding: 16px;
  background-color: var(--dark-color);
  border: var(--light-border);
  grid-template-columns: 32px 1fr 44px;
  grid-gap: 12px;
}

:host.comment {
  border: 1.5px dashed var(--light-color);
  border-radius: 4px;
}

.hidden-textarea {
  resize: none;
  background-color: var(--dark-color);
  border: none;
  color: var(--light-color);

  &:hover,
  &:focus-visible {
    outline: 1px solid var(--primary-color);
  }
}

