<img class="avatar" [src]="preview()" width="120" height="120" />

<div
  class="dropzone"
  tabindex="0"
  dragAndDrop
  (click)="fileDrop.click()"
  (keyup.enter)="fileDrop.click()"
  (fileDropped)="onFileDropped($event)"
>
  <div class="dropzone-content">
    <svg class="icon" icon="upload" height="18" width="18"></svg>
    <span class="medium-text"
      >Перетащите изображение или Загрузите (разрешение до 5,000 x 5,000
      px)</span
    >
  </div>

  <input
    class="avatar-input"
    type="file"
    #fileDrop
    (change)="fileBrowserHandler($event)"
  />
</div>
