:host {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 123px 1fr;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--light-color);
}

.dropzone {
  display: grid;
  place-content: center;
  border-radius: 2px;
  border: 1px dashed var(--light-color);
  padding: 16px;
}

.dropzone-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.avatar-input {
  display: none;
}

.icon {
  color: var(--light-color);
  margin: 14px;
}
